@page "/"
@using BlazorSOLID.UI.Wasm.Components

<PageTitle>Index</PageTitle>

<h1>Welcome to the SOLID Principles Demo!</h1>

<p style="margin-bottom: 1rem;">
    This app demonstrates the SOLID principles of software design, with each principle presented in a separate component. The SOLID principles are crucial for writing maintainable, robust, and scalable software. They include:
</p>

<ul>
    <li><b>S:</b> Single Responsibility Principle</li>
    <li><b>O:</b> Open-Closed Principle</li>
    <li><b>L:</b> Liskov Substitution Principle</li>
    <li><b>I:</b> Interface Segregation Principle</li>
    <li><b>D:</b> Dependency Inversion Principle</li>
</ul>

<p style="margin-bottom: 1rem;">
    To explore each principle, please click on the corresponding menu item in the navigation bar.
</p>

<FluentDesignSystemProvider FillColor="#D6D6D6">
    <FluentCard neutral-palette-source="#CABA8C">
        <h3>Ready to learn? Let's dive into the SOLID principles!</h3>
    </FluentCard>
</FluentDesignSystemProvider>
